<div ng-controller="leaderboardController">
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>
    <table class="table" ng-show="!loading">
        <thead>
        <tr>
            <th>Username</th>
            <th>ELO</th>
            <th>FORM</th>
            <th>Wins/Games</th>
        </tr>
        </thead>
        <tr ng-repeat="item in leaderboard">
            <td>
                <a ng-href="#/player/{{item.UserName}}">

                    <p>
                        <b>{{item.UserName}}</b>
                    </p>
                </a>
            </td>
            <td>
                <p> <b>{{item.EloRating}}</b>
                </p>
            </td>
            <td>
                <p> <b>{{item.Form}}</b>
                </p>
            </td>
            <td>
                <p> <b>{{item.Wins}}/{{item.NumberOfGames}}</b>
                </p>
            </td>
        </tr>
    </table>
</div>