<div>
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>

    <table class="table table-hover" ng-show="!loading">
        <thead>
            <tr>
                <th>Player</th>
                <th>Win/Matches together</th>
                <th>Win% together(average%)</th>
                <th>Looses/Matches against</th>
                <th>Win% (average%) against</th>
            </tr>
        </thead>
        <tr ng-repeat="result in partnerMatches">
            <td>
                <p>
                    {{result.Username}}
                </p>
            </td>
            <td>
                <p>
                    {{result.WinsTogether}} / {{result.MatchesTogether}}
                </p>
            </td>

            <td>
                <p>
                    {{(result.WinsTogether / result.MatchesTogether * 100) | number : 2}}%  ({{result.UsersNormalWinrate}}%)
                </p>
            </td>
            <td>
                <p>
                    {{result.WinsAgainst}} / {{result.MatchesAgainst}}
                </p>
            </td>

            <td>
                <p>
                    {{(result.WinsAgainst / result.MatchesAgainst * 100) | number : 2}}%)
                </p>
            </td>
        </tr>
    </table>

    <table class="table table-hover" ng-show="!loading">
        <thead>
            <tr>
                <th>Time</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Score</th>
                <th>Points</th>
            </tr>
        </thead>
        <tr ng-repeat="game in lastgames">
            <td>
                <p>
                    {{game.LocalTime}}
                </p>
            </td>
            <td>
                <p data-ng-class="{'winner':game.MatchResult.Team1Won}">
                    {{game.PlayerList[0]}}
                    <br />
                    {{game.PlayerList[1]}}
                </p>
            </td>

            <td>
                <!--<p data-ng-class="{'winner':!game.MatchResult.Team1Won}">-->
                <p data-ng-class="{'winner':!game.MatchResult.Team1Won}">
                    {{game.PlayerList[2]}}
                    <br />
                    {{game.PlayerList[3]}}
                </p>
            </td>

            <td>
                <p>{{game.MatchResult.Team1Score}} - {{game.MatchResult.Team2Score}}</p>
            </td>
            
            <td>
                <p>{{game.Points}}</p>
            </td>
        </tr>
    </table>
    <div ng-show="loadingFailed" align="center">
        <pre>{{errorMessage}}</pre>
        <img src="images/ServerIssues.png" width="600" height="400" alt=";(">
    </div>
</div>
