<div>
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>

    <table class="table table-hover" ng-show="!loading">
        <thead>
            <tr>
                <th>Time</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Score</th>
            </tr>
        </thead>
        <tr ng-repeat="game in lastgames">
            <td>
                <p>
                    {{game.LocalTime}}
                </p>
            </td>
            <td>
                <p>
                    {{game.PlayerList[0]}}
                    <br />
                    {{game.PlayerList[1]}}
                </p>
            </td>

            <td>
                <p>
                    {{game.PlayerList[2]}}
                    <br />
                    {{game.PlayerList[3]}}
                </p>
            </td>

            <td>
                <p>{{game.MatchResult.Team1Score}} - {{game.MatchResult.Team2Score}}</p>
            </td>
        </tr>
    </table>
    <div ng-show="loadingFailed" align="center">
        <pre>{{errorMessage}}</pre>
        <img src="images/ServerIssues.png" width="600" height="400" alt=";(">
    </div>
</div>
