<div>
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>
    
    <h3>SELECT YOUR PLAYERS:</h3>
    <div class="container">
        <div class="col-md-2" ng-repeat="p in userList">
            <img src="images/PlayAllTheGames.png" style="width: 100px; height: 100px;"/>
            <p style="text-align: center;">{{p.Username}}</p>
        </div>

    </div>
    
    <p style="color: crimson;">Debug: {{Debug}}</p>
</div>