<div>
    <div id="mydiv" ng-show="loading" align="center">
        <img src="images/ajax-loader.gif" class="ajax-loader" />
    </div>
    
    <h3>SELECT YOUR PLAYERS:</h3>
    <div class="container">
        <!---->
        <div class="col-sm-4 col-md-2" ng-repeat="p in userList" ng-click="playerClick(p)">
            <div class="selectplayer" ng-class="{ 'Selected' : p.Selected, 'TeamOne' : p.Team1, 'TeamTwo' : p.Team2  }">
                <img src="images/PlayAllTheGames.png" style="width: 80%; height: 80%;" />
                <p style="text-align: center; min-height: 60px;">{{p.displayName}} <br/> {{p.EloRating}}</p>
            </div>
        </div>

    </div>

    <p style="color: crimson;">{{Debug}}</p>
    <p style="color: crimson;">{{autoMatchup}}</p>
    <p style="color: crimson;">{{bestMatchup.Message}}</p>
</div>