<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MongoDBRepository.ConnectionString" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MongoDBRepository.ConnectionString>
            <setting name="mongoconnection" serializeAs="String">
                <value>mongodb://foosball101:foosball101@ds031711.mongolab.com:31711/foosball9000</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>foosball9000</value>
            </setting>
        </MongoDBRepository.ConnectionString>
    </applicationSettings>
</configuration>